.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  padding: 20px;
}

.calendar-day {
  border: 1px solid #ccc;
  padding: 20px;
  width: 60px; 
  height: 60px; 
  text-align: center;
  position: relative; 
  display: flex; 
  align-items: center;
  justify-content: center;
  cursor: pointer; 
}

.calendar-day.event-day {
  background-color: #002c5f; 
  color: white; 
  border: none; 
}


.day-number {
  font-size: 16px; 
}

.event-marker {
  color: red;
  font-size: 14px; 
  position: absolute;
  top: 5px; 
  right: 5px; /* Abstand vom rechten Rand */
}
