
.filter-form {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center; 
  gap: 15px; 
  margin: 20px 0; 
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.filter-form input[type="date"],
.filter-form select,
.filter-form button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 150px; 
}

/* Button-Stil */
.filter-form button {
  background-color: #002c5f; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.filter-form button:hover {
  background-color: #004080; 
  color: red;
}


.filter-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #002c5f; 
}

/* ----------- Responsive  ----------- */
/* For Tablets */
@media (max-width: 768px) {
  .filter-form {
    gap: 10px; 
    padding: 10px;
  }

  .filter-form input[type="date"],
  .filter-form select,
  .filter-form button {
    font-size: 12px; 
    padding: 8px; 
    min-width: 120px; 
  }

  .filter-form label {
    font-size: 12px;
  }
}

/* Smartphones  */
@media (max-width: 480px) {
  .filter-form {
    flex-direction: column; 
    gap: 8px; 
    padding: 8px;
  }

  .filter-form input[type="date"],
  .filter-form select,
  .filter-form button {
    font-size: 10px; 
    padding: 6px; 
    min-width: 100px; 
  }

  .filter-form label {
    font-size: 10px;
  }
}
